# 模型权重、大文件
*.pth
*.pt
*.bin
*.onnx
*.ckpt
*.safetensors
model_weights/
weights/
checkpoints/
output/
result/
logs/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境
venv/
env/
.venv/

# 数据集
dataset/
data/
*.csv
*.parquet
*.npy
*.npz

# 系统文件
.DS_Store
*.swp
*.tmp
